<!DOCTYPE html>

<html>
<head>
    <title>Новости</title>
</head>
<body>
<div id="news" style="display:flex; flex-direction: column; margin-top: 50px; align-items: center; background-color: rgb(255,253,240)">
    <div style = "display: flex; justify-content: center">
        <h1 style = "font-family: 'TildaSans', Arial, sans-serif;"><strong>Новости</strong></h1>
    </div>
    <div>
        <img style="width: 180vh" src="images/news.png">
    </div>
    <div style = "width: 180vh; margin-top: 60px">
        <h6 style="text-align: justify; font-size:  25px; text-indent: 50px; font-family: 'TildaSans', Arial, sans-serif;">
            В сентябре "ХарАРХский набег-2024" прошёл не только в кампусе УГНТУ, но и на территории Южно-Уральского
            Ботанического сада-института УФИЦ РАН. Это полностью "зелёная" городская территория, которая позволила
            выявить отношение горожан к природе в городе и "подсветить" проблематику ландшафтного проектирования в
            кампусе УГНТУ. В набеге участвовали студенты 5-го курса специальности "Архитектура".
            Результаты предварительного исследования показали, что нужно учиться взаимодействовать с природой не
            только как с объектом антропогенного воздействия. Необходимо допустить "участие" растений в проектировании
            при выявления проблем территории и при выборе аналогов для архитектурного формообразования.
            Был проведен мастер-класс по гостевому видению территории с привлечением экспертов: ведущих ученых
            лаборатории экосистем и зелёной инфраструктуры Института природы и человека УУНиТ.
            В результате мастер-класса было разработано 8 концепций проектирования социально-природных комплексов в
            общественных пространствах Ботанического сада, которые могут быть применены к другим городским территория,
            в том числе к кампусу УГНТУ. Главным проектным принципом должно стать
            создание растениям гарантированных мест обитания.<br><br>
        </h6>
        <h6 style="text-align: center; font-size:  25px; text-indent: 50px; margin-bottom: 30px">
            Пример концепции гостевого видения территории Ботанического сада.<br>
            Авторы проекта, студенты группы БАР-20-01 Гадеева Аделина, Дубова София, Разапова Аида, Уразаева Аделина
        </h6>
    </div>
    <img style="width: 180vh" src="images/News/2.jpg">
    <img style="width: 180vh" src="images/News/3.jpg">
    <img style="width: 180vh" src="images/News/4.jpg">
</div>
</body>
</html>