@model Models.HazarNabeg.HazarNabeg
@{
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .alert {
            padding: 15px;
            border: 1px solid #d6e9c6;
            border-radius: 4px;
            color: #3c763d;
            background-color: #dff0d8;
        }

        #parent_popup {
            background: grey;
            height: 50%;
            opacity: 0.9;
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
            left: 0;
        }

        #popup {
            background-color: #00f;
            height: 200px;
            position: fixed;
            top: 100px;
            left: 40%;
            color: #f00;
            width: 300px;
        }
    </style>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d5e25ddd-0718-4acb-a851-ff855eddb60d&lang=ru_RU" type="text/javascript"> </script>
</head>
<body>
    <input type ="button" id="addDiv" value="Добавление анкет"/>
    <input type ="button" id="lookDiv" value="Проверка введенных данных"/>
    <div id="addVar">
        <div style="display:flex; justify-content: space-between; margin-top:10px; height: 100%">
            <div style="width:400px; height: 820px; display:flex; flex-direction:column; font-size: 13px;">
                <div style=" width:200px; display:flex; flex-direction:column;">
                    <h3>Пол</h3>
                    <div style="height:20%; display:flex; justify-content:space-between">
                        <p><input type="radio" name="Gender" value="Муж" checked />Муж </p>
                        <p><input type="radio" name="Gender" value="Жен" />Жен</p>
                    </div>
                </div>

                <h3>Где вы живете?</h3>
                <div style="display:flex; flex-direction:column; flex-wrap: wrap; height:20%">
                    <p><input type="radio" name="Place" value="В общежитии" checked />В общежитии</p>
                    <p><input type="radio" name="Place" value="Район Черниковка" />Район Черниковка</p>
                    <p><input type="radio" name="Place" value="В другой части города" />В другой части города</p>
                    <p><input type="radio" name="Place" value="За городом" />За городом </p>
                    <p><input type="radio" name="Place" value="В другом городе" />В другом городе </p>
                </div>

                <h3>Вы посещаете кампус как:</h3>
                <div style=" display:flex; flex-direction:column;flex-wrap: wrap; height:20%">
                    <p><input type="radio" name="Visiting" value="Студент-бакалавр" checked/>Студент-бакалавр</p>
                    <p><input type="radio" name="Visiting" value="Студент-Магистр" />Студент-Магистр</p>
                    <p><input type="radio" name="Visiting" value="Студент-аспирант" />Студент-аспирант</p>
                    <p><input type="radio" name="Visiting" value="Преподаватель" />Преподаватель</p>
                    <p><input type="radio" name="Visiting" value="Сотрудник ВУЗа" />Сотрудник ВУЗа</p>
                    <p><input type="radio" name="Visiting" value="Гость" />Гость</p>
                    <p><input type="radio" name="Visiting" value="Партнер ВУЗа" />Партнер ВУЗа</p>
                    <p><input type="radio" name="Visiting" value="Горожанин" />Горожанин</p>
                </div>

                <h3>Возраст</h3>
                <div style=" display:flex; flex-direction:column; flex-wrap: wrap; height:20%">
                    <p><input type="radio" name="Age" value="14-17" checked/>14-17</p>
                    <p><input type="radio" name="Age" value="18-24" />18-24</p>
                    <p><input type="radio" name="Age" value="25-35" />25-35</p>
                    <p><input type="radio" name="Age" value="36-45" />36-45</p>
                    <p><input type="radio" name="Age" value="46-60" />46-60</p>
                    <p><input type="radio" name="Age" value="61-74" />61-74</p>
                    <p><input type="radio" name="Age" value="75 и более" />75 и более</p>
                </div>
            </div>
            <div id="map" style="width: 1200px; height: 820px; border:solid; margin-right:10px"></div>
            <div style="display:flex; flex-direction:column; height: 100%; margin-left:10px; padding-left:10px; padding-right:10px;">
                <div style="width: 100%; height: 80%; margin-left:10px; padding-left:10px; padding-right:10px;">
		            <h2>Комментарии к положительным эмоциям</h2>
		            <textarea id="comment" name="comment" placeholder="Написать комментарий" style="width:100%; height:100px"></textarea>
                    <h2>Комментарии к отрицательным эмоциям</h2>
                    <textarea id="comment" name="comment" placeholder="Написать комментарий" style="width:100%; height:100px"></textarea>
                    <h2>Комментарии к нейтральным эмоциям</h2>
                    <textarea id="comment" name="comment" placeholder="Написать комментарий" style="width:100%; height: 100px"></textarea>
                </div>
                <div style="width: 100%; height: 40%; margin-left:10px;">
		            <h2>Добавить эмоцию</h2>
                    <input type="radio" name="emot" value="#58FF008F" checked />Положительная<br>
                    <input type="radio" name="emot" value="#FF00008F" />Отрицательная<br>
                    <input type="radio" name="emot" value="#FFF200AB" />Нейтральная<br>
                    <button id="createQuest">Создать анкету</button><br>
                    <button id="createPolygon">Создать эмоцию</button><br>
                    <input type="button" value="Завершить редактирование" id="stopEditPolyline"/> <br>
                </div>
	        </div>
	    </div>
    </div>
    <div style="display:none" id="pushVar">
        <div style="display:flex; margin-top:10px; height: 100%">
            <div style="width:25%">
                <div id="quests" style="z-index: 100;">

                </div>
                <button id="sendBtn">Отправить</button>
                <div id="parent_popup">
                    <div id="popup">
                        <p style="cursor: pointer;" onclick="document.getElementById('parent_popup').style.display='none';">Закрыть</p>
                        <p>Текст в окне</p>
                    </div>
                </div>
            </div>
            <div id="mapLook" style="width: 70%; height: 820px;"></div>
        </div>
    </div>
    <script src="~/js/AddQuest.js"></script>
    </body>
</html>