@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d5e25ddd-0718-4acb-a851-ff855eddb60d&lang=ru_RU" type="text/javascript"> </script>
</head>

<body>
    <h1>Создать ХазАрхский набег</h1>
    <div style="display:flex; justify-content:space-between">
        <div style="width: 15%; height:820px; display:flex; flex-direction:column; border:solid; border-color:green; border-radius: 5px; border-left-color: white; padding: 10px">
            <input type="text" placeholder="Название хазархского набега" id="nameHazar" style="margin-bottom: 10px"/>
            <h4>Выберите кампус:</h4>
            <div style="display:flex; flex-direction:column">
                <button id="campus1">Кампус 1</button>
                <button id="campus2">Кампус 2</button>
                <button id="campus3">Кампус 3</button>
                <button id="campus4">Кампус 4</button>
                <button id="campus5">Кампус 5</button>
                <button id="campus6">Кампус 6</button>
            </div>
            <button id="createBtn">Создать</button>
        </div>
        
        <div id="map" style="width: 1400px; height: 820px; border:solid; border-color:green;border-right-color: white; "></div>
    </div>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap = null;
        var coordinates = null;
        var nameHazar = null;

        function init() 
        {
            myMap = new ymaps.Map("map", 
            {
                center: [54.817693719811864, 56.060026019052515],
                zoom: 15
            });
            var Border1 = new ymaps.Polyline(
                [[54.81381547028136, 56.058855168250936], [54.81978506189913, 56.057144323137514], [54.82061663545558, 56.05780123918561], [54.82004358269541, 56.059759251766465],
                [54.81972762578878, 56.05949103086499], [54.81807788083479, 56.05995757290714], [54.818353206147655, 56.06327814766757], [54.81694680996119, 56.0635892839133], [54.81402263845585, 56.06174321584752],
                [54.81381547028136, 56.058855168250936]], {},
                {
                    strokeWidth: 5,
                    strokeColor: '#ff0000'
                });
            var Border2 = new ymaps.Polyline(
                [[54.818822209793694, 56.067258947081115], [54.81952228359511, 56.067307226843404], [54.81986302307071, 56.06764518517927], [54.820287394561795, 56.06857322949845], [54.81956874823908, 56.06930815476852],
                [54.819389084651455, 56.069002382940816], [54.8192249086022, 56.06884145039992], [54.81899568054412, 56.06886290807203], [54.818822209793694, 56.067258947081115]], {},
                {
                    strokeWidth: 5,
                    strokeColor: '#ff0000'
                });
            var Border3 = new ymaps.Polyline(
                [[54.72267068870143, 56.01271888931717], [54.723341385095786, 56.01157090385876], [54.724095905214504, 56.01257941444838], [54.7239592853337, 56.01280472000565], [54.72437535352996, 56.0133733483168],
                [54.724946664063026, 56.01359328945603], [54.72558316898897, 56.01462325771771], [54.72506154618249, 56.016243311962704], [54.72267068870143, 56.01271888931717]], {},
                {
                    strokeWidth: 5,
                    strokeColor: '#ff0000'
                });
            var Border4 = new ymaps.Polyline(
                [[54.725387894949755, 55.969689626240275], [54.72625104586402, 55.97008659317448], [54.726033707445126, 55.971556443714626], [54.7251332929521, 55.97113265469029], [54.725387894949755, 55.969689626240275]], {},
                {
                    strokeWidth: 5,
                    strokeColor: '#ff0000'
                });
            var Border5 = new ymaps.Polyline(
                [[54.71693155925201, 55.99654339621368], [54.7171784491901, 55.99713616440598], [54.71701075052875, 55.99740974972548], [54.71734925266595, 55.99825196335618], [54.717041805888975, 55.99876158306899],
                [54.71672038175441, 55.99810175965134], [54.71647504180358, 55.99825464556517], [54.71617704766842, 55.99751781341211], [54.71693155925201, 55.99654339621368]
                ], {},
                {
                    strokeWidth: 5,
                    strokeColor: '#ff0000'
                });
            var Border6 = new ymaps.Polyline(
                [[54.77159315450484, 56.01339989740415], [54.772228923378734, 56.014671264477215], [54.77198392095236, 56.015105782337606], [54.771320236007384, 56.01399534780548], [54.77159315450484, 56.01339989740415]], {},
                {
                    strokeWidth: 5,
                    strokeColor: '#ff0000'
                });
            myMap.geoObjects.add(Border1);
            myMap.geoObjects.add(Border2);
            myMap.geoObjects.add(Border3);
            myMap.geoObjects.add(Border4);
            myMap.geoObjects.add(Border5);
            myMap.geoObjects.add(Border6);
            function camp(x, y) {
                myMap.setCenter([x, y], 16);
            }
            document.getElementById("campus1").addEventListener("click", () => camp(54.817693719811864, 56.060026019052515));
            document.getElementById("campus2").addEventListener("click", () => camp(54.819534201848036, 56.06853893234703));
            document.getElementById("campus3").addEventListener("click", () => camp(54.724229625846185, 56.01468735832227));
            document.getElementById("campus4").addEventListener("click", () => camp(54.72575758166644, 55.97110019577027));
            document.getElementById("campus5").addEventListener("click", () => camp(54.71700954648499, 55.998397305557184));
            document.getElementById("campus6").addEventListener("click", () => camp(54.77188178367694, 56.01460661904904));
            document.getElementById("createBtn").addEventListener("click", create);
            async function create() 
            {
               coordinates = myMap.getCenter();
               nameHazar = document.getElementById("nameHazar").value;
                const response = await fetch(`/HazarNabeg/AddHazar`, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        Id:0,
                        Name: nameHazar,
                        X:coordinates[0],
                        Y:coordinates[1],
                        Quastionnaires:null,
                    })
                }).then(function (response) {
                    if (response.ok) {
                        alert(response);
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(data => {
                    console.log('Success:', 100);
                }).catch(function (error) {
                    console.warn('BLAH BLAH BLAH', error);
                });
            }
        }
    </script>
</body>