@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d5e25ddd-0718-4acb-a851-ff855eddb60d&lang=ru_RU" type="text/javascript"> </script>
</head>

<body>
    <h1>Создать ХазАрхский набег</h1>
    <input type="text" id="nameHazar"/>
    <div id="map" style="width: 1200px; height: 957px; border:solid; border-color:green"></div>
    <button id="createBtn">Отправить</button>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap = null;
        var coordinates = null;
        var nameHazar = null;

        function init() 
        {
            myMap = new ymaps.Map("map", 
            {
                center: [54.817693719811864, 56.060026019052515],
                zoom: 15
            });
            document.getElementById("createBtn").addEventListener("click", create);
            async function create() 
            {
               coordinates = myMap.getCenter();
               nameHazar = document.getElementById("nameHazar").value;
                const response = await fetch(`/HazarNabeg/AddHazar`, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        Id:0,
                        Name: nameHazar,
                        X:coordinates[0],
                        Y:coordinates[1],
                        Quastionnaires:null,
                    })
                }).then(function (response) {
                    if (response.ok) {
                        alert(response);
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(data => {
                    console.log('Success:', 100);
                }).catch(function (error) {
                    console.warn('BLAH BLAH BLAH', error);
                });
            }
        }
    </script>
</body>