@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArhitectEmplosions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArhitectEmplosions.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:rgb(20,19,20)">
            <div class="container-fluid" style="display: flex; justify-content:space-between">
                <div style="width:25%">
                    
                </div>
                <div style="width:50%; display: flex; justify-content:flex-end">
                    <div class="collapse d-sm-inline-flex justify-content-between" style="flex-basis: 100%; align-items: center; justify-content: center; flex-direction: column;">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="Home" asp-action="InfoProject">О проекте</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="News" asp-action="Index" asp-fragment="news">Новости</a>
                            </li>
                            <li class="nav-item">
                                <div id = "firstletter">
                                    <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="Home" asp-action="Index"><span style ="color:red">Э</span>моциональная <span style ="color:red">к</span>арта <span style ="color:red">т</span>ерритории</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="Poke" asp-action="MainPoke">Где живут Ваши эмоции?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="HazarNabeg" asp-action="MainHazar">Хазарский набег</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="width:25%; display:flex; flex-direction:row; justify-content: flex-end;">
                    @{
                        if (User.Identity!.IsAuthenticated)
                        {
                            <div style="display:flex; flex-direction:row; justify-content: flex-end;">
                                <div>
                                    <h6 class="nav-link" style="color: rgba(200, 200, 200);">@(User.FindFirstValue(ClaimTypes.Name))</h6>
                                </div>
                                <div>
                                    <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div style="display:flex; flex-direction:row">
                                <div>
                                    <h6 class="nav-link" style="color: rgba(200, 200, 200);">Гость</h6>
                                </div>
                                <div>
                                    <a class="nav-link" style="color: rgba(200, 200, 200);" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                                </div>
                            </div>
                        }
                    }                    
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:rgb(20,19,20)">
        <div class="container">
            &copy; 2024 - Архитектурная Имплозия
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/DrawEmotion.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    div#firstletter span:first-letter{
        color: red;
    }
</style>